<!doctype html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <title>home - tuck</title>
  </head>
  <body>
    <header>
      <h1><a href='/'>tuck</a></h1>
    </header>
    <main>
      <h2>latest image</h2>
      <p>there's nothing to see here yet!</p>
    </main>
    <footer>powered by <a href='https://go.dev.'>Go</a></footer>
  </body>
</html>
