{{define "title"}}signup{{end}}

{{define "main"}}
<form action='/user/signup' method='POST' novalidate>
  <div>
    <label for='username'>username:</label>
    {{with .Form.FieldErrors.username}}
      <label class='error'>{{.}}</label>
    {{end}}
    <input type='text' id='username' name='username' value='{{.Form.Username}}' autocomplete='username'>
  </div>
  <div>
    <label for='password'>password:</label>
    {{with .Form.FieldErrors.password}}
      <label class='error'>{{.}}</label>
    {{end}}
    <input type='password' id='password' name='password' autocomplete='new-password'>
  </div>
  <div>
    <input type='submit' value='signup'>
  </div>
</form>
{{end}}
