{{define "title"}}signup{{end}}

{{define "main"}}
<form action='/user/signup' method='POST' novalidate>
  <div>
    <label>username:</label>
    {{with .Form.FieldErrors.username}}
      <label class='error'>{{.}}</label>
    {{end}}
    <input type='text' name='username' value='{{.Form.Username}}'>
  </div>
  <div>
    <label>password:</label>
    {{with .Form.FieldErrors.password}}
      <label class='error'>{{.}}</label>
    {{end}}
    <input type='password' name='password'>
  </div>
  <div>
    <input type='submit' value='signup'>`
  </div>
</form>
{{end}}
