{{define "title"}}tuck #{{.Image.ID}}{{end}}

{{define "main"}}
  {{with .Image}}
  <div class='image'>
    <div class='metadata'>
      <strong>{{.Location}}</strong>
      <span>#{{.ID}}</span>
    </div>
    <img src=/images/{{.ID}}/file />
    <pre><code>{{.People}}</code></pre>
    <div class='metadata'>
      <time>year: {{.Year}}</time>
      <time>created: {{.CreatedAt}}</time>
    </div>
    {{ if $.CanWriteImages }}
    <form action="/images/{{.ID}}/delete" method="POST">
      <button type="submit">delete?</button>
    </form>
    {{ end }}
  </div>
  {{end}}
{{end}}
